<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href= rel="stylesheet">

        {% block head %}
        <title>Academia</title>
        {% endblock %}

        <link rel="stylesheet" href="/styles.css">

    </head>

    <body>
        <header>
            <div class="links">
                <a href="/instructors" class="active">Instrutores</a>
                <a href="/members">Membros</a>
            </div>
        </header>

        {% block content %}
        {% endblock %}
    </body>
</html>