{% extends 'layout.njk' %}


{% block content %}

<div class="card table-container">
    <div class="header">
        <a href="/teachers/create">Novo</a>
        <form action="/teachers" method="get">
            <input 
                type="text" 
                name="filter" 
                placeholder="Filtre por Nome ou Area"
            >
            <button class="button" type="submit">Filtrar</button>
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>Instrutor</th>
                <th>Atendimento</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
            <tr>
                <td>
                        <span style="background: url({{teacher.avatar_url}})"></span>
                        {{teacher.name}}
                    </td>
                <td>{{teacher.area}}</td>
                <td><a href="/teachers/{{teacher.id}}">ver</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}